<?xml version="1.0"?>
<model>
  <name>MiR 100</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Roselle Carmen</name>
    <email>rosellec@openrobotics.org</email>
  </author>

  <description>
    Shiny robot named MiR 100
  </description>
</model>
