<?xml version="1.0"?>
<model>
  <name>MonitorAndKeyboard</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Kenney.nl</name>
    <email></email>
  </author>

  <description>
    A generic monitor and keyboard
  https://opengameart.org/content/furniture-kit - CC0 license
  </description>
</model>
