<?xml version="1.0"?>

<model>
  <name>TeleportDispenser</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Aaron Chong</name>
    <email>aaron@openrobotics.org</email>
  </author>

  <description>
  A frame or placeholder for spawning robots and robot arms.
  </description>
</model>
