<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>EscalatorStart</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Wan Yi Seow</name>
    <email>wanyi@openrobotics.org</email>
  </author>

  <description>
    Modular part of an escalator going upwards. Slope's height is 1m tall, 1.73205m(√3) in length
  </description>
</model>