<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>NurseTable</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>wanyi</name>
    <email>wanyi@openrobotics.org</email>
  </author>

  <description>
    Long desk for two staff.
  </description>
</model>