<?xml version="1.0"?>

<model>
  <name>ParkingTrolleyMax</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Roselle Carmen</name>
    <email>rosellec@openrobotics.org</email>
  </author>

  <description>
	Trolley and carts parking area with bags, this one has more bags
  </description>
</model>
