<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>Fridge</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Roselle</name>
    <email>rosellec@openrobotics.org</email>
  </author>

  <description>
    A generic tall fridge with freezer
  </description>
</model>
