<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>WhiteChipChair</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Wan Yi Seow</name>
    <email>wanyi@openrobotics.org</email>
  </author>

  <description>
    White row of seats
  </description>
</model>